.rooms {
    display: block;
}
.rooms > div {
    display: inline-grid;
    padding: 2%;
    border: black;
    border-style: solid;
    width: 45%;
}

.room-clean {
    background-color: #00ab66;
    color: white;
}

.room-occupied {
    background-color: blue;
    color: white;
}

.room-dirty {
    background-color: red;
    color: white;
}

.roomApptType {
    visibility: hidden;
}

.rooms-container {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4rem;
  }

  .edit-room {
    /* visibility: hidden; */
    background-color: black;
    padding: 5px;
    color: white;
    width: 19%;
    position: fixed;
    top: 6rem;
    left: 50px;
  }